body {
    background-color: #2eba69;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, .wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

header h1 {
    text-align: center;
    font-family: "Grandesign Neue Serif";
    font-size: 90px;
    color: #EEE;
    text-shadow: 2px 2px 0px #2eba69, 6px 6px 0px #0A6430;
}

.wrapper {
    text-align: center;
}
.wrapper input {
    width: 66%;
    height: 45px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #0A6430;
    background-color: transparent;
    color: #EEE;
    font-size: 20px;
}
.wrapper input:focus {
    outline: none;
}
.wrapper input::-webkit-input-placeholder {
    color: #0A6430;
    font-size: 20px;
    font-weight: 500;
    height: inherit;
}
.kimono-cta {
    font-family: "Grandesign Neue Serif";
    font-size: 30px;
    font-color: #FFF;
}
.kimono-home {
    text-align: center;
}
.kimono-steps {
    text-align: center;
}
.button {
    display: inline-block;
    font-size: 50px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    line-height: 80px;
    color: #EEE;
    margin: 20px 10px;
    font-family: "Grandesign Neue Serif";
    text-decoration: none;
    color: #0A6430;
}


.button i {
    -webkit-text-stroke: 2px #0A6430;
    -moz-text-stroke: 2px #0A6430;
    text-stroke: 2px #0A6430;
    color: transparent;
}

.button.current:hover i {
    color: #0A6430;
    -webkit-text-stroke: 2px transparent;
    -moz-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
}

.button.disabled i {
    color: #05361a;
    -webkit-text-stroke: 0px;
    -moz-text-stroke: 0px;
    text-stroke: 0px;
}

.button.disabled:hover i {
    -webkit-text-stroke: 0px;
    -moz-text-stroke: 0px;
    text-stroke: 0px;
}

.kimono-content {
    color: #0A6430;
    font-size: 20px;
}
.kimono-content h2 {
    font-size: 30px;
    font-family: "Grandesign Neue Serif";
}

.link {
  stroke: #0A6430;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #EEE;
}
.node:hover {
    cursor: pointer;
    fill: #0A6430;
}

.node.fixed {
  fill: #f00;
}
