<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kimano</title>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script data-main="js/main" src="bower_components/requirejs/require.js"></script>
    <meta property="og:title" content="Mood-based Spotify Playlists">
    <meta property="og:site_name" content="Kimano">
    <meta property="og:description" content="Dynamic Spotify Playlists based on sentimental analysis and naive categorization of Twitter tweets">
    <meta property="og:image" content="http://kimano.calvinchan.me/img/fb-org-image.png">
</head>
    <header>
        <h1>Kimano</h1>
    </header>
    <div class="wrapper">
        <div class="kimono-home">
            <div class="kimono-steps">
                <a class="button kimono-twitter-bt disabled"><i data-target="kimono-twitter" class="fa fa-fw fa-twitter "></i></a>
                <a class="button kimono-spotify-bt disabled"><i data-target="kimono-spotify" class="fa fa-fw fa-spotify "></i></a>
                <a class="button bt-add current"><i data-target="kimono-add" class="fa fa-fw fa-music"></i></a>
                </ol>
            </div>
            <div class="kimono-content" id="kimono-spotify">
                <h2>Your Recommended Spotify Playlist</h2>
                <iframe src="https://embed.spotify.com/?uri={{playlist}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
